services:
  - name: post-it-notes-board-api
    type: web
    env: ruby
    buildCommand: bin/render-build.sh
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: DATABASE_URL
        # fromDatabase:
        #   name: post-it-notes-board-db
        #   property: connectionString
        sync: false
      - key: REDIS_URL # this must match the name of the environment variable used in production.rb
        fromService:
          type: redis
          name: post-it-notes-board-api-redis
          property: connectionString
  - name: post-it-notes-board-api-redis
    type: redis
    ipAllowList: [] # only allow connections from services in this Render accoun
    maxmemoryPolicy: allkeys-lfu
